dialog {
    border-radius: 24px;
    padding: 36px;
    border: 2px solid #646cff;
    &::backdrop{
        background-color: rgba(13, 1, 25, 0.352);
        backdrop-filter: blur(1.5px);
    }

    form{
        display: flex;
        flex-direction: column;

        row-gap: 20px;

        > .filters {
            display: flex;
            flex-direction: column;

            gap: 12px;

            input[type="text"], select {
                padding: 8px;
                border-radius: 12px;
                border: none;
            }

            label {
                display: flex;
                flex-direction: column;
            }

            .real-label {
                margin-left: -10px;
            }
        }

        > .buttons {
            display: flex;
            justify-content: flex-end;
            column-gap: 12px;
            width: fit-content;
        }
    }
}